/* Add all your custom styles to this stylesheet. Don't edit "styles.less" or "styles.css", as it will be overridden by future updates.
-------------------------*/
/* .carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
} */

body{
	background: none repeat scroll 0 0 #81F7AE;
}

.hr2 > span {
	background: none repeat scroll 0 0 #81F7AE;
}
.hr2:after {
    border-bottom: 1px solid #666666;
    
    
}  
.hr2:before, .hr2:after {
	border-top: 1px solid #666666;
}

.portfolio-filter {
    border-bottom: 4px double #666666;
    
}  

.navbar {
    background: none repeat scroll 0 0 #81F7AE;
    
}  